* {
    margin: 0;
    padding: 0;
}
body {
    font-family: helvetica, arial;
    padding-top: 40px;
    background: #ffffff;
}
h1 {
    background-color: black;
    color: white;
    height: 40px;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    line-height: 40px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
h1 a {
    border-bottom: 1px solid white;
    color: white;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
}
.photo {
    background-attachment: fixed;
    /*background-size: 100%;*/
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
    padding: 175px;
}
.content {
    background: #cccccc;
    height: 450px;
    position: relative;
    padding: 15px;
    left: 0px;
    right: 0px;
}
.content h2{
    top: 0;
    color: black;
    display: block;
    padding: 10px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.content p{
    top: 0;
    color: black;
    display: block;
    padding: 10px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.photo span {
    top: 40%;
    color: black;
    display: block;
    text-align: "center";
    font-size: 150px;
    left: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    text-shadow: 0 2px 0 black, 0 0 10px white;
}
/*.photo span {
    top: 50%;
    color: white;
    display: block;
    left: 50%;
    font-size: 150px;
    padding: 10px;
    position: absolute;
    text-shadow: 0 2px 0 black, 0 0 10px black;
}*/
.cs {
    background-image: url(../images/cs.jpg);
}
.drift {
    background-image: url(../images/drift.jpg);
}